tensorflow==2.3.0
Keras==2.1.0
pandas==1.0.5
tabulate==0.8.7
statsmodels==0.12.0
numpy==1.18.5
click==7.1.2
matplotlib==3.3.0
scipy==1.4.1
requests==2.24.0
netCDF4==1.5.5.1
python-dotenv==0.15.0
scikit_learn==0.24.0
tensorflow==2.3.0